body {
    font-family: Arial, sans-serif;
    background-color: #f5f1e6; /* Beige */
    color: #2f3e2f; /* Verde oscuro */
    margin: 0;
    padding: 0;
}

header {
    background-color: #3a5a40; /* Verde musgo */
    color: white;
    padding: 15px;
    text-align: center;
}

.navbar-personalizada .nav-link {
    color: #ffffff !important;
    font-weight: 500;
    transition: all 0.3s ease;
    padding: 8px 15px;
    border-radius: 6px;
}

.navbar-personalizada .nav-link:hover {
    background-color: #a3b18a;
    color: #2f3e2f !important;
}

.navbar-personalizada .nav-link.active {
    background-color: #588157;
}

h2 {
    text-align: center;
}

table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: white;
}

th {
    background-color: #a3b18a; /* Verde claro */
    padding: 10px;
}

td {
    padding: 8px;
    text-align: center;
}
.contenedor-tabla {
    width: 90%;
    margin: 20px auto 0 auto;
}

.btn-personalizado {
    display: inline-block;
    background-color: #588157;
    color: white !important;
    padding: 10px 18px;
    text-decoration: none !important;
    border-radius: 8px;
    font-weight: 500;
    transition: all 0.3s ease;
    
}

.btn-personalizado:hover {
    background-color: #3a5a40;
    color: white !important;
}
.btn {
    background-color: #3a5a40;
    color: white;
    padding: 8px 12px;
    text-decoration: none;
    border-radius: 5px;
}

form {
    width: 40%;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
}

input, select {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
}

.mensaje {
    text-align: center;
    font-weight: bold;
    color: #3a5a40;
}

.btn-secundario {
    display: block;
    width: 200px;
    margin: 20px auto;
    text-align: center;
    background-color: #a3b18a;
    color: white;
    padding: 8px;
    border-radius: 5px;
    text-decoration: none;
}